body{
  background-color:rgb(90, 166, 196);
  font-size:20px;
  flex-flow:row;
}
.real{
  border:3px solid gray;
  width:900px;
  height:100%;
  margin-left:300px;
  background-color: antiquewhite;
  border-radius: 15px;
  
  box-shadow: 7px 7px gray;
  float:left;
}



